Repository vuejs/vitepress, pull requests merged in 2022-06, with the labels that each got.

#421 docs: fix docs for usage of regions in snippets
  docs/guide/markdown.md
Labels: docs

#533 docs: make users install `vue` too
  docs/guide/getting-started.md
Labels: docs

#714 fix: better nav types
  types/default-theme.d.ts
Labels: types, theme

#828 feat(theme): add team page feature
  docs/.vitepress/config.ts
  docs/guide/migration-from-vitepress-0.md
  docs/guide/theme-home-page.md
  docs/guide/theme-introduction.md
  docs/guide/theme-layout.md
  docs/guide/theme-team-page.md
  src/client/theme-default/components/VPTeamMembers.vue
  src/client/theme-default/components/VPTeamMembersItem.vue
  src/client/theme-default/components/VPTeamPage.vue
  src/client/theme-default/components/VPTeamPageSection.vue
  src/client/theme-default/components/VPTeamPageTitle.vue
  src/client/theme-default/index.ts
  src/client/theme-default/styles/components/vp-doc.css
  theme.d.ts
  types/default-theme.d.ts
Labels: enhancement, theme
