Repository vuejs/vitepress, pull requests merged in 2022-05, with the labels that each got.

#622 fix(build): error of could not find a declaration for minimist (#618)
  package.json
  pnpm-lock.yaml
Labels: bug, build

#632 workflow(next-theme): include `packageManager`
  package.json
Labels: enhancement, build

#633 fix(next-theme): import and use `VPDoc` instead `VPContentDoc`
  src/client/theme-default/components/VPContent.vue
Labels: bug, theme

#474 docs(guide): fix md samples in markdown guide
  docs/guide/markdown.md
Labels: docs

#639 fix(theme): header blur incomplete
  src/client/theme-default/components/VPNav.vue
  src/client/theme-default/components/VPNavBar.vue
Labels: bug, theme

#654 feat: use shiki instead of prismjs for syntax highlight
  docs/config/app-configs.md
  docs/guide/api.md
  docs/guide/markdown-extensions.md
  package.json
  pnpm-lock.yaml
  src/client/theme-default/styles/components/vp-doc.css
  src/client/theme-default/styles/vars.css
  src/node/build/bundle.ts
  src/node/markdown/markdown.ts
  src/node/markdown/plugins/highlight.ts
  src/node/markdown/plugins/lineNumbers.ts
  src/node/markdownToVue.ts
  src/node/plugin.ts
  src/node/shims.d.ts
Labels: enhancement, build, theme

#666 feat: add cjs support
  package.json
  rollup.config.ts
Labels: build
