Repository vuejs/vitepress, pull requests merged in 2023-02, with the labels that each got.

#1879 docs: fix carbonAds
  docs/config/theme-configs.md
Labels: docs

#1904 docs: update `getting-started`
  docs/guide/getting-started.md
Labels: docs

#1813 docs: add node alpine alternative to GitLab CI deploy
  docs/guide/deploying.md
Labels: docs

#1644 docs: GitHub Actions deploy Workflow
  docs/guide/deploying.md
Labels: docs

#1989 feat(theme): enhance readability of custom containers (#1824)
  src/client/theme-default/styles/components/custom-block.css
  src/client/theme-default/styles/vars.css
Labels: enhancement, theme

#1998 fix(theme): "copy code" button not readable on hover state (#819)
  src/client/theme-default/styles/components/vp-doc.css
  src/client/theme-default/styles/vars.css
Labels: bug, enhancement, theme
