Repository vuejs/vitepress, pull requests merged in 2023-01, with the labels that each got.

#1835 feat(theme): enable multi level sidebar nesting (#1360)
  __tests__/e2e/multi-sidebar/index.test.ts
  __tests__/unit/client/theme-default/support/sidebar.test.ts
  docs/config/theme-configs.md
  docs/guide/theme-sidebar.md
  src/client/theme-default/components/VPLink.vue
  src/client/theme-default/components/VPSidebar.vue
  src/client/theme-default/components/VPSidebarGroup.vue
  src/client/theme-default/components/VPSidebarItem.vue
  src/client/theme-default/components/VPSidebarLink.vue
  src/client/theme-default/composables/sidebar.ts
  src/client/theme-default/support/sidebar.ts
  types/default-theme.d.ts
Labels: enhancement

#1847 docs: update getting-started.md
  docs/guide/getting-started.md
Labels: docs

#1798 feat(build): support rewrites
  docs/.vitepress/config.ts
  docs/config/app-configs.md
  docs/guide/routing.md
  package.json
  pnpm-lock.yaml
  src/node/build/build.ts
  src/node/build/bundle.ts
  src/node/build/render.ts
  src/node/config.ts
  src/node/markdownToVue.ts
  src/node/plugin.ts
Labels: enhancement, build

#1866 docs: editorial fixes
  docs/guide/api.md
Labels: docs
