Repository vuejs/vitepress, pull requests merged in 2024-11, with the labels that each got.

#4328 Translation fix
  docs/ru/guide/asset-handling.md
Labels: docs

#4339 feat: on demand social icons
  docs/en/reference/default-theme-config.md
  docs/es/reference/default-theme-config.md
  docs/ko/reference/default-theme-config.md
  docs/pt/reference/default-theme-config.md
  docs/ru/reference/default-theme-config.md
  docs/zh/reference/default-theme-config.md
  package.json
  pnpm-lock.yaml
  src/client/app/ssr.ts
  src/client/theme-default/components/VPSocialLink.vue
  src/client/theme-default/styles/icons.css
  src/node/build/build.ts
  src/node/build/render.ts
  types/default-theme.d.ts
  types/shared.d.ts
Labels: cr-tracked

#4377 docs(ru): update translations
  docs/.vitepress/config/ru.ts
  docs/ru/reference/default-theme-config.md
  docs/ru/reference/default-theme-footer.md
  docs/ru/reference/default-theme-layout.md
  docs/ru/reference/default-theme-prev-next-links.md
  docs/ru/reference/frontmatter-config.md
Labels: docs, translations
